<!DOCTYPE html>
<html lang="en">

<%- include("../patrials/head") %>

<body class="desfocar">
    <center>
        <br><br>
        <h2 class="titulo-index">Obrigado pela doação!</h2><br><br>
        <img src='./static/racao.jpeg' /><br><br><br>
        <a href="/"><button type="submit">VOLTAR PARA A PÁGINA INICIAL</button></a>
        <a href="/doar_racao"><button type="submit">DOAR NOVAMENTE</button></a>
        <a href="/ranking4"><button type="submit">RANKING DA DOAÇÃO</button></a><br><br><br>
        <%- include("../patrials/footer") %>
</body>

</html>