<!DOCTYPE html>
<html lang="en">

<%- include("../patrials/head") %>

<body class="desfocar">
    <center>
        <br><br>
        <h2 class="titulo-index">Obrigado pela doação!</h2><br><br>
        <img src='./static/condoar.png' /><br><br><br>
        <a href="/"><button type="submit">VOLTAR PARA A PÁGINA INICIAL</button></a>
        <a href="/doar_agasalho"><button type="submit">DOAR NOVAMENTE</button></a>
        <a href="/ranking1"><button type="submit">RANKING DA DOAÇÃO</button></a><br><br><br>
        <%- include("../patrials/footer") %>
</body>

</html>