<!DOCTYPE html>
<html lang="en">
<%- include("../patrials/head") %>

   <body class="desfocar">
         <footer class="footer-top">
        <img src="/static/maos_logo.png" alt="Logo" class="footer-logo">
        </footer>
        <center>
            <div page-box>
                <br>
                <h1>CAMPANHAS PARTICIPANTES:
                </h1>
                <table border="1">
                    <tr>
                        <td style="text-align:center; font-size: 18px; padding: 10px;">
                            CAMPANHA DO AGASALHO
                        </td>
                        <td style="text-align:justify; font-size: 17px; padding: 10px;">
                            <img src="/static/Agasalho.png" style="max-width:300px;"><br><br>
                            A Campanha do Agasalho, realizada pelo SENAI Sumaré, tem como propósito mobilizar a comunidade escolar na arrecadação de roupas e cobertores em bom estado ou novos, destinados a pessoas em situação de vulnerabilidade. Trata-se de uma iniciativa que reforça valores de solidariedade, responsabilidade social e compromisso coletivo, demonstrando que a união de esforços pode gerar impacto significativo na vida de muitos.
                        </td>
                    </tr>
                    <tr>
                        <td name="nome" style="text-align:center; font-size: 18px; padding: 10px;">
                            CAMPANHA DO BRINQUEDO
                        </td>
                        <td style="text-align:justify; font-size: 17px; padding: 10px;">
                            <img src="/static/Brinquedo.png" style="max-width:300px;" name="imagem"><br><br>
                            <p name="descrição">A Campanha do Brinquedo, promovida pelo SENAI Sumaré, tem como objetivo arrecadar brinquedos novos ou em bom estado para crianças em situação de vulnerabilidade. A iniciativa busca incentivar a solidariedade e o espírito de colaboração entre alunos e docentes, proporcionando alegria e esperança às crianças atendidas e reforçando o compromisso social da instituição.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; font-size: 18px; padding: 10px;">
                            CAMPANHA DO ALIMENTO
                        </td>
                        <td style="text-align:justify; font-size: 17px; padding: 10px;">
                            <img src="/static/Alimento.png" style="max-width:300px;"><br><br>
                            A Campanha do Alimento, organizada pelo SENAI Sumaré, visa a arrecadação de alimentos não perecíveis para apoiar famílias em situação de vulnerabilidade. A ação incentiva a participação ativa de alunos e docentes, fortalecendo a consciência solidária e promovendo o impacto positivo da comunidade escolar na vida daqueles que mais necessitam.
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; font-size: 18px; padding: 10px;">
                            CAMPANHA DE RAÇÃO PARA PETS
                        </td>
                        <td style="text-align:justify; font-size: 17px; padding: 10px;">
                            <img src="/static/Racao.png" style="max-width:300px;"><br><br>
                            A Campanha de Ração para Pets, realizada pelo SENAI Sumaré, tem como objetivo arrecadar alimentos para animais em situação de abandono ou vulnerabilidade. A iniciativa busca envolver alunos e docentes, promovendo cuidado e responsabilidade social, além de reforçar a importância da solidariedade também para os animais da comunidade.
                        </td>
                    </tr>
                </table>
            </div>
            <a href="/"><button type="submit">VOLTAR</button></a><br><br>
        </center>
        <%- include("../patrials/footer") %>
    </body>

</html>