<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body class="desfocar">
    <footer class="footer-top">
        <img src="/static/maos_logo.png" alt="Logo" class="footer-logo">
    </footer>
    <center>
        <br><br><br><br><br>
        <br><img src='./static/erro.png' /> <br><br><br>
        <a href="/"><button type="submit">HOME</button></a><br><BR><BR><br>
    </center>
</body>
<%- include("../patrials/footer") %>

</html>