<html lang="en">
<%- include("../patrials/head") %>

    <body>
    <body class="desfocar">
        <center>
            <div page-box>
                <br>
                <h1>SOBRE O SITE:
                </h1>
        <table border="1">
            <tr>
                <td style="text-align: justify; font-size: 24px; padding: 10px;">
                    O nosso site, desenvolvido e organizado pelo SENAI Sumaré, tem como finalidade central reunir, em um único ambiente digital, todas as campanhas promovidas pela instituição. A proposta é oferecer uma plataforma prática e acessível que facilite a organização, a comunicação e o gerenciamento dessas iniciativas, possibilitando maior clareza e eficiência em sua divulgação. Além disso, o espaço contribui para incentivar a participação ativa da comunidade escolar, tornando mais simples o processo de doação e engajamento de alunos e docentes. Dessa forma, o site fortalece o vínculo entre a instituição e seus integrantes, promovendo ações solidárias e colaborativas de maneira estruturada e transparente.
                </td>
            </tr>
        </table>
        </div><br><br><br><br><br><br>
        <a href="/"><button type="submit">VOLTAR</button></a><br><br>
        </center>
        <%- include("../patrials/footer") %>
    </body>