<!DOCTYPE html>
<html lang="en">
<%- include("../patrials/head") %>

    <body class="desfocar">

        
         <footer class="footer-top">
            
        <a href="/">
        <img src="/static/maos_logo.png" alt="Logo" class="footer-logo">
        <a href="/">
    <img src="/static/sair.png" alt="Voltar" class="footer-sair">
</a>
        </a>


        </footer>

    <div class="sub-header">

        <% if (!isAdmin && !isDocente && !isAluno) { %>
            <a href="/cadastro">CADASTRAR</a>
            <a href="/login">LOGIN</a>
            <a href="/info">SOBRE O SITE</a>
            <a href="/cp">CAMPANHAS PARTICIPANTES</a>

        <% } else if (isAdmin) { %>
            <a href="/info">SOBRE O SITE</a>
            <a href="/cp">CAMPANHAS PARTICIPANTES</a>
            <a href="/edicamp">GERENCIAR CAMPANHAS</a>
            <a href="/ediusua">GERENCIAR USUÁRIOS</a>

        <% } else if (isDocente) { %>
            <a href="/info">SOBRE O SITE</a>
            <a href="/cp">CAMPANHAS PARTICIPANTES</a>
            <a href="/doar">ACESSAR CAMPANHAS</a>
            <a href="/ranking">VER RANKING GERAL</a>

        <% } else if (isAluno) { %>
            <a href="/info">SOBRE O SITE</a>
            <a href="/cp">CAMPANHAS PARTICIPANTES</a>
            <a href="/ranking">VER RANKING GERAL</a>
        <% } %>

    </div>

        <center>
           <div class="sobre-container">
    <img src="/static/Senai.jpg" class="sobre-img">

    <div class="sobre-texto">
        <h1>SOBRE O SITE:</h1>
        <p>
            O nosso site, desenvolvido e organizado pelo SENAI Sumaré, tem como finalidade central reunir,
            em um único ambiente digital, todas as campanhas promovidas pela instituição. A proposta é
            oferecer uma plataforma prática e acessível que facilite a organização, a comunicação e o
            gerenciamento dessas iniciativas, possibilitando maior clareza e eficiência em sua divulgação.
            Além disso, o espaço contribui para incentivar a participação ativa da comunidade escolar,
            tornando mais simples o processo de doação e engajamento de alunos e docentes. Dessa forma,
            o site fortalece o vínculo entre a instituição e seus integrantes, promovendo ações solidárias
            e colaborativas de maneira estruturada e transparente.
        </p>
    </div>
</div>
<br><br>
        </center>
        <%- include("../patrials/footer") %>
    </body>

</html>