<!DOCTYPE html>
<html lang="en">

<%- include("../patrials/head") %>

    <body class="desfocar">
        <footer class="footer-top">
            <img src="/static/maos_logo.png" alt="Logo" class="footer-logo">
            <div class="left-footer">
                <% if (email) { %>
                    <div class="user-info">
                        <p class="email-logado">
                            <%= email %>
                        </p>
                        <a href="/logout"><button class="sair-btn">SAIR</button></a>
                    </div>
                    <% } %>
            </div>
        </footer>
        <center>
            <div class="page-box">
                <br><br><br><br>
                <h1>LOGAR</h1>
                <% if (mensagem) { %>
                    <p style="color:#ffffff;">
                        <%= mensagem %>
                    </p>
                    <% } %>
                        <main>
                            <form action="/login" method="POST" class="formItens">
                                <table border="1">
                                    <tr>
                                        <td><input type="email" name="email" placeholder="Email" required></td>
                                    </tr>
                                    <tr>
                                        <td><input type="password" name="senha" placeholder="Senha" required></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="submit">CONFIRMAR</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </main>
            </div>
            <a href="/"><button type="submit">VOLTAR</button></a><br><br>
        </center>
        <%- include("../patrials/footer") %>
    </body>

</html>