<!DOCTYPE html>
<html lang="en">

<%- include("../patrials/head") %>

    <body class="desfocar">
        <center>
            <div class="page-box">
                <br><br><br><br>
                <h1>LOGAR</h1>
                <% if (mensagem) { %>
                    <p style="color:#ffffff;">
                        <%= mensagem %>
                    </p>
                    <% } %>
                        <main>
                            <form action="/login" method="POST" class="formItens">
                                <table border="1">
                                    <tr>
                                        <td><input type="email" name="email" placeholder="Email" required></td>
                                    </tr>
                                    <tr>
                                        <td><input type="password" name="senha" placeholder="Senha" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="doar">ESCOLHA A CAMPANHA:</label>
                                            <select name="doar" id="doar" required>
                                                <option value="">ESCOLHA</option>
                                                <option value="Agasalho">AGASALHO</option>
                                                <option value="Brinquedo">BRINQUEDO</option>
                                                <option value="Alimento">ALIMENTO</option>
                                                <option value="Racao">RAÇÃO PARA PETS</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="submit">CONFIRMAR</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </main>
            </div>
            <a href="/"><button type="submit">VOLTAR</button></a><br><br>
        </center>
        <%- include("../patrials/footer") %>
    </body>

</html>